.App {
  display: grid;
  grid-template-areas:
    "header             ."
    "main-navigation    aside"
    "main               aside";
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr 90px;
  column-gap: 10px;
  width: 1080px;
  margin: 0 auto;
}

.main-container {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-sub-contents {
  display: flex;
  gap: 10px;
}