.App {
  display: grid;
  grid-template-areas:
    "header             ."
    "main-navigation    aside"
    "sub-navigation     aside"
    "detail-navigation  aside"
    "main               aside"
    "footer             .";
  grid-template-rows: auto auto auto auto 1fr auto;
  grid-template-columns: 1fr 90px;
  column-gap: 10px;
  width: 1080px;
  margin: 0 auto;
}

.main-container {
  grid-area: main;
}

.footer {
  grid-area: footer;
}
